
header {
  background-color: #7477BF;
  color: white;
}

.header-container {
  display: grid;
  grid-auto-flow: column;
  max-height: 100px;
}

.nav-container {
  display: grid;
  grid-auto-flow: column;
  max-height: 100px;
}

.user-icon {
  height: 80px;
}

.user-icon, .profile-image {
  border-radius: 50%;
  width: auto;
}

nav {
  background-color: #4D4C72;
}

nav svg, header svg {
  fill: white;
}